/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

/*--- rodapé -- */


/*--------- cards de avisos ----- */
.moduloavisos {
  max-width: 99%;
}

.noticecard {
  margin: 1rem 0 3.3rem;
  max-width: 99%;
  position: relative;
  float: left;
}

.noticecard-image {
  max-width: 35%;
  float: left;
}

.noticecard-image img{
  width: 100%;
  float: left;
}

.noticecard-content {
  width: 63%;
  padding-left: 2%;
  float: left;
}
.noticecard-content h1{
  margin-top: 0px !important;
}

.noticecard-content .caption {
  margin-top: -15px;
}

.noticecard-content .chamada {
  line-height: 1.5rem !important;
}

/*---------- cards de notícias --------*/
.newscard-wrap {
  margin: 1rem 0 1rem;
  width: 99%;
  position: relative;
  float: right;
}

.newscard a {
  color: #424242;
  padding: 15px 0 25px;
}

.content-newscard:hover .newscard-image img{
  outline:  0.15rem solid #424242;
  -webkit-filter: brightness(80%);
}

.content-newscard:hover .newscard-text p {
  text-decoration: underline !important;
}

.newscard-date {
  width: 17%;
  float: left;
  padding-right: 2%;
}

.newscard-date .caption {
  line-height: 1.2rem !important;
  font-size: 1.1rem;
  text-align: right;
  padding: 0;
  margin: 0;
}

.newscard-image {
  width: 23%;
  float: left;
}

.newscard-image img {
  width: 100%;
  vertical-align: text-top;
  -webkit-transition: .2s all;
}

.newscard-text {
  width: 58%;
  padding-left:2%;
  float: left;
}

.newscard-text p{
  line-height: 1.3rem !important;
  margin-top: -2px;
}


/* ---------- cards dos produtos --------- */
.prodcard {
  float: left;
  width: 90%;
  margin: 3rem 0;
}

.prodcard-image {
  float: left;
  width: 24%;
}

.prodcard-image img{
  width: 100%;
  float: left;
}

.prodcard-content {
  float: left;
  margin-left: 2%;
  width: 74%;
  margin-top: -15px;
}

.prodcard-content p{
  line-height: 1.4rem;
}

.prodcard:after {
  content: "";
  display: table;
  clear: both;
}

/* --------- página de produtos ---- */

.texto-produto {
  margin-bottom: 2rem;
}


/*-----------página empresa --*/
#texto-empresa h4{
  padding-bottom: 0.2em;
}

#texto-empresa p{
  padding: 0;
  margin-top: -5px;
}

/* Google Maps */
.google-maps {
        background-color: #FFB300;
        padding-bottom: 10px;
        margin-bottom: 20px;
        padding-top: 0;
        height: 470px;
    }
    .google-maps iframe {
        margin-top: 10px;
        left: 0;
        width: 100% !important;
        height: 450px;
    }
 }

 .corpo-noticia {
  width: 100%;
  float: left;
 }

 .corpo-noticia p{
  margin-top: -6px;
 }

 .imagem-destaque {
  width: 45%;
  float: left;
  margin-right: 3%;
 }

 .imagem-destaque img {
  width: 100%;
  vertical-align: top;
 }

 /* -- Módulo de vídeos assistidos recentemente --*/
 .modulovideos {
  width: 100%;
  float: left;
  padding: 1rem;
  position: relative;
 }

 .modulovideos-img {
  width: 30%;
  padding: 2px;
  float: left;
 }  

 .modulovideos-img img {
  width: 100%;
 }

 .modulovideos-cont {
  width: 70%;
  float: left;
 }

 .modulovideos-cont h4 {
  position: absolute;
  top: -5px;
  margin-left: 15px;
 }

 .modulovideos-cont p{
  position: absolute;
  font-size: 0.9rem;
  line-height: 1rem;
  top: 30px;
 }

 .ouvidoria {
  width: 100%;
}