/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

/*--- rodapé -- */
#iconesrodape span{
  padding: 0 2%;
  transition: all .5s;
}

#iconesrodape a:hover {
  color: #000000;
  text-decoration: none;
}

/*--------- cards de avisos ----- */
.moduloavisos {
  max-width: 99%;
}

.noticecard {
  margin: 1rem 0 3.3rem;
  max-width: 99%;
  position: relative;
  float: left;
}

.noticecard-image {
  max-width: 35%;
  float: left;
}

.noticecard-image img{
  width: 100%;
  float: left;
}

.noticecard-content {
  width: 63%;
  padding-left: 2%;
  float: left;
}
.noticecard-content h1{
  margin-top: 0px !important;
}

.noticecard-content .caption {
  margin-top: -15px;
}

.noticecard-content .chamada {
  line-height: 1.5rem !important;
}

/*---------- cards de notícias --------*/
.newscard-wrap {
  margin: 1rem 0 1rem;
  width: 99%;
  position: relative;
  float: right;
}

.newscard a {
  color: #424242;
  padding: 15px 0 25px;
}

.content-newscard:hover .newscard-image img{
  outline:  0.15rem solid #424242;
  -webkit-filter: brightness(80%);
}

.content-newscard:hover .newscard-text p {
  text-decoration: underline !important;
}


.newscard-date {
  width: 17%;
  float: left;
  padding-right: 2%;
}

.newscard-date .caption {
  line-height: 1.2rem !important;
  font-size: 1.1rem;
  text-align: right;
  padding: 0;
  margin: 0;
}

.newscard-image {
  width: 23%;
  float: left;
}

.newscard-image img {
  width: 100%;
  vertical-align: text-top;
  -webkit-transition: .2s all;
}

.newscard-text {
  width: 58%;
  padding-left:2%;
  float: left;
}

.newscard-text p{
  line-height: 1.3rem !important;
  margin-top: -2px;
}


/* ---------- cards dos produtos --------- */
.prodcard {
  float: left;
  width: 90%;
  margin: 3rem 0;
}

.prodcard-image {
  float: left;
  width: 24%;
}

.prodcard-image img{
  width: 100%;
  float: left;
}

.prodcard-content {
  float: left;
  margin-left: 2%;
  width: 74%;
  margin-top: -15px;
}

.prodcard-content p{
  line-height: 1.4rem;
}

.prodcard:after {
  content: "";
  display: table;
  clear: both;
}

/* --------- página de produtos ---- */

.texto-produto {
  margin-bottom: 2rem;
}


/*-----------página empresa --*/
#texto-empresa h4{
  padding-bottom: 0.2em;
}

#texto-empresa p{
  padding: 0;
  margin-top: -5px;
}

#iconessociais span{
  padding: 0 2%;
  transition: all 1s;
}

#iconessociais a:hover{
  color: #FFB300;
  text-decoration: none;
}

/* Google Maps */
.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }