

.card-panel {
  padding: $card-padding;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  border-radius: 2px;
  @extend .z-depth-1;
  background-color: $card-bg-color;
}

.card {
  position: relative;
  overflow: hidden;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  background-color: $card-bg-color;
  border-radius: 2px;
  @extend .z-depth-1;
  width: 100%;

  .titulo-modulo {
    float: left;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
  }

  // classe para página de vídeos
  &.video {
    
    .card-image {
    position: relative;
    float: left;

      // Image background for content
      img {
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
      }

      .infos {
          color: #ccc;

        .tempo {
          position: absolute;
          bottom: 20px;
          right: 0px;
          font-size: 1.1rem;
          line-height: 1.8rem;
          height: 1.8rem;
          padding: 0 1rem;
          background-color: rgba(0,0,0,0.7);
        }
      }
    }
    .card-content {
      padding-left: $card-padding / 3;
      padding-right: $card-padding / 2;
      padding-bottom: $card-padding;
      border-radius: 0 0 2px 2px;

      .titulo {
        margin-top: 0;
        font-weight: 400;
        color: color("amber", "darken-2");

        &:hover {
          text-decoration: underline;
          color: color("amber", "darken-3");
        }
      }

      p {
        margin-top: 0.5rem;
        color: inherit;
      }
    }
  } // fim da classe para página de videos

  &.decorate {
  border-top: 3px solid $secondary-color;
  border-bottom: 3px solid $secondary-color;
  }


  p {
    line-height: 1.5rem;
    padding: 0 1rem;
  }

  .nomecliente {
    font-size: 1rem;
    text-transform: uppercase;
    color: color("amber", "darken-2");
    font-weight: 600;
  }

  .card-title {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }

  .titulo {
    padding: 0 1rem;
    font-weight: 300px;
    font-size: 1.4rem;
    color: color("grey", "darken-2");
  }

  // Card Sizes
  &.small, &.medium, &.large {
    position: relative;

    .card-image {
      overflow: hidden;
    }
    .card-content {
      overflow: hidden;
    }
    .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.small {
    height: 300px;

    .card-image {
      height: 150px;
    }
    .card-content {
      height: 150px;
    }

  }

  &.medium {
    height: 400px;

    .card-image {
      height: 250px;
    }
    .card-content {
      height: 150px;
    }
  }

  &.large {
    height: 500px;

    .card-image {
      height: 330px;
    }
    .card-content {
      height: 170px;
    }
  }


  .card-image {
    position: relative;

    // Image background for content
    img {
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: $card-padding;
    }

  }

  .card-content {
    border-top: 1px solid rgba(160,160,160,.3);
    padding: $card-padding/2;
    border-radius: 0 0 2px 2px;
    background-color: color("grey", "lighten-4");

    & img {
      width: 100%;
    }

    p {
      margin: 0;
      color: inherit;
    }
    .card-title {
      line-height: 30px;
    }
  }

  .card-action {
    border-top: 1px solid rgba(160,160,160,.3);
    padding: 14px 20px;

    a {
      color: color("orange", "accent-2");
      margin-right: $card-padding;
      @include transition(color .3s ease);
      padding-top:0.5em;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {color: darken(color("orange", "accent-2"), 20%);}
    }

    &:hover {
      background-color: color("grey", "lighten-4");
    }
  }

  .card-reveal {
    padding: $card-padding;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;

    .card-title {
      cursor: pointer;
      display: block;
      font-size: 0.9rem;
      font-weight: 600;
      text-transform: uppercase;

      i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: 800;
        font-size: 1.1rem;
      }
    }

    p {
        padding: 0;
        padding-bottom: 0.5rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
        color: ("grey", "lighten-1");
      }  

    .infos {
      
      a {
      padding: 0.1rem 0;
      display: block;
      font-size: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* -------- CARD ALERTA ------ */
.alerta {
  border-radius:3px;
  padding:10px 10px 10px 30px;
  margin:10px;
  line-height: 1.4rem;
  background: lighten(color("red", "lighten-3"), 20%);
  border: 1px solid color("red", "lighten-3");
  @extend .z-depth-1;
  transition: all .5s;
  
  .close {
    font-family: Arial, sans-serif;
    font-weight: bold;
    float: left;
    font-size: 1.4rem;
    text-shadow: 0 1px 0 #000000;
    filter: alpha(opacity=70);
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;

    &:hover {
      cursor: pointer;
      color: #000;
    }
  }

  .texto {
    color: color("red", "darken-2");
    line-height: 1.4rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-left: 30px;
  }
}